body {
  margin: 7%;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.blackline-long {
  background: black;
  width: 25%;
}

.blackline-short {
  background: black;
  width: 12%;
}

.main-blackline {
  height: 50px;
  width: 100%;
  background: black;
  margin-top: 90px;
}

.main__firstbox {
  display: flex;
  justify-content: space-around;
  border: 3px solid red;
  padding: 10px;

  margin-top: 90px;
}

.firstbox__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.firstbox__img {
  height: 130px;
  width: 130px;
  background: black;
}
