body {
  margin: 7%;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.blackline-long {
  background: black;
  width: 25%;
}

.blackline-short {
  background: black;
  width: 12%;
}

.main-blackline {
  height: 50px;
  width: 100%;
  background: black;
  margin-top: 90px;
}

.main__firstbox {
  display: flex;
  justify-content: space-around;
  border: 3px solid red;
  padding: 10px;
  margin-top: 90px;
}

.firstbox__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.img {
  height: 130px;
  width: 130px;
  background: black;
}

.section {
  display: flex;
  gap: 15%;
  margin-top: 90px;
}

.section__unit {
  display: flex;
  flex-direction: column;
}

.section__blackline {
  height: 40px;
  width: 55%;
  background: black;
}

.section__blackline-large {
  height: 70px;
  width: 90%;
  background: black;
  margin-top: 70px;
  margin-bottom: 20px;
}

.secondbox {
  display: flex;
  flex-direction: column;
  border: 3px solid red;
  padding: 5%;
}

.text {
  display: flex;
  flex-direction: row;
  gap: 5%;
}

h4 {
  width: 65%;
}
